.btn-spacing {
    margin-right: 10px;
    width: 18%;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
}
  
.image-preview-container {
    width: calc(33.33% - 10px); /* 设置每行三个图片，并留出一些间距 */
    margin: 5px;
}
  
.image-wrapper {
    position: relative;
    padding-bottom: 100%; /* 保持图片容器的宽高比例，将图片容器调整为正方形 */
    overflow: hidden;
}
  
.fault-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 保持图片比例并填充容器 */
}